h1 {
    color: #1A3663;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 5.5rem;
}

h2 {
    color: #1A3663;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
}

h3 {
  color:#D7F3F9;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
}

.containerwave {
    overflow: hidden;
    margin:0;
    padding:0;
  }
  
  .sliding-background {
    background: url("../Images/Sky.png") repeat-x;
    height: 132px;
    width: 4320px;
    animation: slide 60s linear infinite;
  }
  
  @keyframes slide{
    0%{
      transform: translate3d(0,0,0);
    }
    100%{
      transform: translate3d(-1440px,0, 0);
    }
  }

  #Enter{
    border:0;
    background: #315795;
    padding-top: 0.4em;
    text-align:center;
    width:20em;
    outline:none;
    border-radius:100px;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}
#Enter:hover{
  background: #1A3663;
}

#Button{
  border:0;
  background: #315795;
  margin: 4px;
  padding: 0.4em 0em 0em 0em;
  text-align:center;
  width:20em;
  outline:none;
  border-radius:100px;
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
}
#Button:hover{
background: #1A3663;
}

#Button2{
  border:0;
  background: #315795;
  margin: 4px;
  padding: 0.4em 0em 0em 0em;
  text-align:center;
  width:20em;
  outline:none;
  border-radius:100px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
}
#Button2:hover{
background: #ccd7e9;
}